# ===============================
# Backend (Spring Boot)
# ===============================
# pocketpulse-api/target/

# ===============================
# Frontend (React + Vite)
# ===============================
pocketpulse-web/node_modules/
pocketpulse-web/dist/

# ===============================
# IDE
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# OS
# ===============================
.DS_Store

# ===============================
# ENV
# ===============================
.env